In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('movie_data.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [4]:
df.isnull().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [6]:
reve=df['Revenue (Millions)']

In [7]:
rev_mean=reve.mean()

In [8]:
rev_mean

82.95637614678898

In [9]:
reve.fillna(rev_mean,inplace=True)

In [10]:
df.isnull().sum()

Rank                   0
Title                  0
Genre                  0
Description            0
Director               0
Actors                 0
Year                   0
Runtime (Minutes)      0
Rating                 0
Votes                  0
Revenue (Millions)     0
Metascore             64
dtype: int64

In [11]:
df.dropna(inplace=True)

In [12]:
df.isnull().sum()

Rank                  0
Title                 0
Genre                 0
Description           0
Director              0
Actors                0
Year                  0
Runtime (Minutes)     0
Rating                0
Votes                 0
Revenue (Millions)    0
Metascore             0
dtype: int64

In [13]:
df.describe()

,Rank,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
count,936.000000,936.000000,936.000000,936.000000,9.360000e+02,936.00000,936.000000
mean,498.185897,2012.771368,113.272436,6.729167,1.752702e+05,84.39618,58.985043
std,288.100561,3.178987,18.550798,0.935225,1.905824e+05,98.89234,17.194757
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.00000,11.000000
25%,246.750000,2010.000000,100.000000,6.200000,4.159300e+04,17.44250,47.000000
50%,496.500000,2014.000000,111.000000,6.800000,1.149185e+05,58.70000,59.500000
75%,746.250000,2016.000000,123.000000,7.400000,2.495380e+05,102.42250,72.000000
max,1000.000000,2016.000000,187.000000,9.000000,1.791916e+06,936.63000,100.000000

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 936 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                936 non-null    int64
 1   Title               936 non-null    object
 2   Genre               936 non-null    object
 3   Description         936 non-null    object
 4   Director            936 non-null    object
 5   Actors              936 non-null    object
 6   Year                936 non-null    int64
 7   Runtime (Minutes)   936 non-null    int64
 8   Rating              936 non-null    float64
 9   Votes               936 non-null    int64
 10  Revenue (Millions)  936 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 95.1+ KB

In [15]:
df.to_csv('movie_data.csv')